database: [database name]
user: [username for database login]
pass: [user password for database login]
dev: [network card device name]
sms_service: [run sms-code via sms-gate, run | 0]
sms_sender: [name for sms sign]
sms_gate: [url of sms-gate]
sms_login: [username for sms-gate login]
sms_pass: [password for sms-gate login]
sms_id: [message id for test]
arp: [path of arp]
iptables: [path of iptables]
service: [flag of service status, run | 0]
target_url: [target url for redirect]
internet: [internet server for check connection, default http://google.com/]
